sudo: false

language: ruby
cache: bundler

rvm:
  - "1.9.3"
  - 2.2
  - "2.3.0"
  - 2.4
  - "jruby-19mode"

gemfile:
  - gemfiles/rails-3.0.gemfile
  - gemfiles/rails-3.1.gemfile
  - gemfiles/rails-3.2.gemfile
  - gemfiles/rails-4.0.gemfile
  - gemfiles/rails-4.1.gemfile
  - gemfiles/rails-4.2.gemfile
  - gemfiles/rails-4.2.gemfile
  - gemfiles/rails-5.0.gemfile
  - gemfiles/rails-edge.gemfile

env:
  global: "RAILS_ENV=test"

before_script:
  - "echo $BUNDLE_GEMFILE"
  - "bundle install"

script: "bundle exec rspec"

matrix:
  fast_finish: true
  allow_failures:
  - rvm: 2.4.0